In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index =pd.MultiIndex.from_tuples(hier_index)

In [6]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [8]:
df

             A         B
G1 1  0.696315  1.567116
   2  0.716252 -0.274846
   3  1.420257  0.337129
G2 1  2.103969 -0.804003
   2  1.596462  0.114980
   3 -0.719195 -0.108742

In [9]:
df.loc['G1']

          A         B
1  0.696315  1.567116
2  0.716252 -0.274846
3  1.420257  0.337129

In [10]:
df

             A         B
G1 1  0.696315  1.567116
   2  0.716252 -0.274846
   3  1.420257  0.337129
G2 1  2.103969 -0.804003
   2  1.596462  0.114980
   3 -0.719195 -0.108742

In [11]:
df.index.names = ['Groups','Num']

In [13]:
df

                   A         B
Groups Num
G1     1    0.696315  1.567116
       2    0.716252 -0.274846
       3    1.420257  0.337129
G2     1    2.103969 -0.804003
       2    1.596462  0.114980
       3   -0.719195 -0.108742

In [16]:
df.loc['G2'].loc[2]['B']

0.11498023123215843

In [18]:
df.xs(1,level='Num') # grabbing a cross section

               A         B
Groups
G1      0.696315  1.567116
G2      2.103969 -0.804003